
  <!--
NAME @: Diljyot Singh
TOPIC @: Image Search Engine
DATE @: 23/12/2023
-->

<!DOCTYPE html>
<html>
<title>Image Search Engine</title>


<!-----------------------------  BODY SECTION  ----------------------------------->

<body style="background-color: gray;">
<!-----------------------------  HEADER SECTION  ----------------------------------->


    <header style = "background-color: black;">
        <div>
        <img src = "/static/head.JPG" align="right" height = "200px" width = "250px">
        <img src = "/static/head2.JPG" align = "left" height = "200px" width = "250px">
        <br><br>
        <h1 align ="center" style ="color: white;"><big>Image Search Engine</big></h1>
        </div>
        <br>
        <br>
        <h3 align = "center" style = "color: white;"> Using  OpenCV histograms</h3>



    </header>



<!----------------------------- EXTENSION  ----------------------------------->
    {% block content %}





    {% endblock %}
<!----------------------------------------------------------------------------->





</body>
<!-----------------------------  FOOTER SECTION  ----------------------------------->

<footer style="background-color: black;">
    <p>Find me on</p>

      <p align = "center"><a href="https://github.com/diljyotsingh019" 
        target="_blank" style = "color: white;">Github</a>
      <a href="https://www.linkedin.com/in/diljyot-singh-869373152/" 
      target="_blank" style = "color: white;">LinkedIn</a></p>
      <p align = "center" style = "color: grey;">Made by Diljyot Singh</p>
      <br>
      <br>
    </footer>
  </html>

  <!-----------------------------  THE END  ----------------------------------->