  
  <!-- 
NAME @: Diljyot Singh
TOPIC @: Image Search Engine
DATE @: 23/12/2023
-->

  
  <!-----------------------------  BASE SECTION  ----------------------------------->

  {% extends "base.html"%}

  <!-------------------------------------------------------------------------------->

{% block content %}


  <!---------------------------  HOME BODY SECTION   ------------------------------>

<!-- Add a background color and large text to the whole page -->
<body>
<h2 align = "center"><b>ABOUT THE PROJECT</b></h2><br>

<p>Image search engine can be used to find similar images from the database. Next, as an output, pictures from the database with comparable 
    histograms are retrieved. Chi-square distances are measured between the input image and the images available in the database</p>


  <!-----------------------------  FORM SECTIOIN  ----------------------------------->
  

  <!----------------------------------------------------------------------------->
<div style = "background-color: white; border: 5px solid;">
<h3 align = "center">Input Image</h3>
</div>
<br>
<div align = "center">
<img src = "{{input_path}}" height="250px"></div>
<br>
<div style = "background-color: white; border: 5px solid;">
<h3 align = "center">Top 3 Similar Images</h3>
</div>
<br>
<div align ="center">
<img src = "{{image_paths[idx[0]]}}" height = "250px">
<img src = "{{image_paths[idx[1]]}}" height = "250px">
<img src = "{{image_paths[idx[2]]}}" height = "250px">
</div>
<br>

</body>

{% endblock %}

  <!-----------------------------  THE END  ----------------------------------->